.slider {
    margin-top: 3%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;

}

@media (min-width: 980px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

@media (max-width: 1450px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
    .slider{
        max-width: 1350px;
        height: auto;
    }
    .slider__item img{
        width: 1150px;
        height: auto;
    }
}

@media (max-width: 1280px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
    .slider{
        max-width: 1280px;
        height: auto;
    }
    .slider__item img{
        width: 1100px;
        height: auto;
    }
}

@media (max-width: 1170px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
    .slider__item img{
        width: 1000px;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
    .slider__item img{
        width: 900px;
        height: auto;
    }
}

@media (max-width: 980px) {
    .slider__item {
        flex: 0 0 0 0;
        max-width: 100%;

    }
    .slider__item img{
        width: 850px;
        height: auto;
    }
}

